html,body {
  height: 100%;
  margin: 1;
  font-family: 'Times New Roman';
  background: #f0f8ff;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding-top: 1rem;
}

#container h1 {
  margin-bottom: 10px;
  font-size: 40px;
  color: #191970;
  font-family: 'Times New Roman';
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#container p {
  margin-top: 0;
  font-size: 1.1em;
  color: #191970;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2)
}
#controls button {
  font-family: 'Times New Roman';
  height: 40px;
}

.map-card {
  width: 100%;
  max-width: 1000px;
}

#map {
  height: 500px;
  margin-top: 20px; 
}